@import './components/header.scss';
@import './components/dropdown.scss';
@import './pages/loginpage.scss';
@import './pages/signup.scss';
@import './pages/mainpage.scss';
@import './components/btn.scss';
@import './pages/history.scss';
@import './components/redirector.scss';
:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
  
    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;
  
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  body {
    margin: 0;
    min-width: 320px;
    min-height: 100vh;
    background-color: #0B101B;
    background-image: url('../assets/Swirl.png'), url('../assets/Cubes.png') ;
    background-size: cover; /* Ensures the image covers the entire background */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    background-position: center; /* Centers the image on the screen */
  }
  
